<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传图片</title>
    <link rel="stylesheet" href="/css/jquery.Jcrop.css" type="text/css"></link>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.Jcrop.js"></script>
</head>
<body>
<form name="form" action="/Upload/uploadHeadImage" class="form-horizontal" method="post"
      enctype="multipart/form-data">
    <div class="modal-body text-center">
        <div class="zxx_main_con">
            <div class="zxx_test_list">
                <input class="photo-file" type="file" name="imgFile" id="fcupload" onchange="readURL(this);"/>
                <img alt="" src="" id="cutimg"/>
                <input type="hidden" id="id" name="id" value="1"/>
                <input type="hidden" id="x" name="x"/>
                <input type="hidden" id="y" name="y"/>
                <input type="hidden" id="w" name="w"/>
                <input type="hidden" id="h" name="h"/>
            </div>
        </div>
    </div>

    <div id="preview-pane">
        <div class="preview-container">
            <img src="" class="jcrop-preview" alt="预览">
        </div>
    </div>

    <div class="modal-footer">
        <button id="submit" onclick="">上传</button>
    </div>
</form>
<script src="/js/image.js" type="text/javascript"></script>
</body>
</html>