<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/js/jquery.1.11.1.min.js"></script>
    <script src="/js/echarts-all.js" type="text/javascript"></script>
</head>

<body>

hello,world!
<a href="javascript:void(0);" onclick="updateCaptcha()" style="height: 36px;width: 100px">
    <img src="" alt="" id="captcha_img">
</a>
<div>
    <img src="/images/15361360572347867169_cut.jpg" id="touxiang_img">
</div>
<div id="chart" style="width:400px;height:400px;"></div>

<script src="/js/Article.js" type="text/javascript"></script>
</body>

</html>